doctype html
html
    head
        title="URL shortener microservice"
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        h1 URL shortener microservice 
        h2 (Freecodecamp API challenge)

        h3 The user can enter an arbitrary (valid) URL and receive an unique ID. Later, the user can use that (short) ID with this API to go to the original (long) URL.

        p
          b Example:
          br
          Assume your URL is
          code https://www.freecodecamp.com/challenges/url-shortener-microservice.
          br
          Append your URL to the current address, i.e.,
          br
          code 
          br
          code https://vast-fjord-19786.herokuapp.com/may%2019,%202017
