<!DOCTYPE html>
<html>
    <head>
	      <title>URL shortener microservice</title>
	      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
	      <h1>URL shortener microservice</h1>
	      <h2>(Freecodecamp API challenge)</h2>
	      <h3>The user can enter an arbitrary (valid) URL and receive an unique ID. Later, the user can use that (short) ID with this API to go to the original (long) URL.</h3>
	      <p><b>Example:</b><br></p>
	      <p>Assume your URL is <code>https://www.freecodecamp.com/challenges/url-shortener-microservice</code></p>
        <br>
	      <p>Append your URL to the address <code>https://sleepy-lowlands-19999.herokuapp.com/new/</code></p> 
	      <p>,i.e., <code>https://sleepy-lowlands-19999.herokuapp.com/new/https://www.freecodecamp.com/challenges/url-shortener-microservice</code></p>
        <br>
	      <p>You will receive a new URL similar to <code>https://sleepy-lowlands-19999.herokuapp.com/5f5</code></p>
        <br>
	      <p>Then, when you go to the new URL, you will be redirected to the original URL.</p>
    </body>
</html>
